.github
.husky
.idea
.run
dist
docker
node_modules
release
backend/logs
backend/node_modules
frontend/node_modules
frontend/.angular
environment/environment.yaml
Dockerfile
.dockerignore
.gitignore
.git
.prettierrc
**/*.spec.ts
**/*.e2e-spec.ts
.DS_Store