node_modules
logs
.run
dist
release
.idea
.DS_Store
coverage
backend/coverage
backend/logs
environment/environment.yaml
frontend/static
frontend/.angular/
frontend/tmp
frontend/out-tsc
frontend/bazel-out
/frontend/src/assets/pdfjs/
circular-dependencies.png