<div class="modal-header">
  <h4 class="modal-title">
    @if (canToggleViewer()) {
      <button (click)="toggleViewer()" class="btn btn-link p-0 text-white" type="button" [attr.aria-label]="isReadonly() ? 'Edit in OnlyOffice' : 'View in PDF.js'">
        <fa-icon [icon]="isReadonly() ? icons.faEye : icons.faPen"></fa-icon>
      </button>
    } @else {
      <fa-icon [icon]="isReadonly() ? icons.faEye : icons.faPen"></fa-icon>
    }
    <span>{{ currentFile.name }}</span>
  </h4>
  <button (click)="onMinimize()" aria-label="Minimize" class="btn-minimize btn-minimize-white" type="button"></button>
  <button (click)="onClose()" aria-label="Close" class="btn-close btn-close-white ms-3" type="button"></button>
</div>
@if (currentFile) {
  <div class="modal-body">
    @switch (activeViewer()) {
      @case (SHORT_MIME.IMAGE) {
        <app-files-viewer-image [currentHeight]="currentHeight" [(file)]="currentFile" [directoryImages]="directoryImages()"></app-files-viewer-image>
      }
      @case (SHORT_MIME.PDF) {
        <app-files-viewer-pdf [currentHeight]="currentHeight" [file]="currentFile"></app-files-viewer-pdf>
      }
      @case (SHORT_MIME.MEDIA) {
        <app-files-viewer-media [currentHeight]="currentHeight" [file]="currentFile"></app-files-viewer-media>
      }
      @case (SHORT_MIME.DOCUMENT) {
        @if (onlyOfficeForPdf()) {
          <app-files-viewer-only-office [currentHeight]="currentHeight" [file]="currentFile" [(isReadonly)]="isReadonly"></app-files-viewer-only-office>
        } @else if (editorProvider.collabora) {
          <app-files-viewer-collabora-online [currentHeight]="currentHeight" [file]="currentFile" [(isReadonly)]="isReadonly"></app-files-viewer-collabora-online>
        } @else if (editorProvider.onlyoffice) {
          <app-files-viewer-only-office [currentHeight]="currentHeight" [file]="currentFile" [(isReadonly)]="isReadonly"></app-files-viewer-only-office>
        } @else {
          <!--This case should never happen-->
          <div [style.height.px]="currentHeight" class="d-flex p-4" l10nTranslate>No editor found</div>
        }
      }
      @default {
        <app-files-viewer-text
          [currentHeight]="currentHeight"
          [file]="currentFile"
          [isWriteable]="isWriteable"
          [modalClosing]="modalClosing()"
          [(isReadonly)]="isReadonly">
        </app-files-viewer-text>
      }
    }
  </div>
}
