ul.tree, ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

//ul.tree > li:nth-of-type(odd) {
//  background-color: $gray-light;
//}

ul.tree ul {
  margin-left: 18px;
}

ul.tree li {
  margin: 0;
  padding: 0;
  line-height: 30px;
  border-left: 1px solid rgb(100, 100, 100);
  white-space: nowrap;

  > div {
    display: inline-flex;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
  }
}

ul.tree li:last-child {
  border-left: none;
}

ul.tree li:before {
  position: relative;
  top: -0.3em;
  height: 1.2rem;
  width: 1rem;
  color: white;
  border-bottom: 1px solid rgb(100, 100, 100);
  content: '';
  display: inline-block;
}

ul.tree li:last-child:before {
  border-left: 1px solid rgb(100, 100, 100);
}
