<div class="row">
  @if (userService.userHavePermission(USER_PERMISSION.PERSONAL_SPACE)) {
    <div class="col">
      <div [routerLink]="[SPACES_PATH.PERSONAL_FILES]" [relativeTo]="null" class="small-box">
        <div class="inner">
          <p l10nTranslate>{{ SPACES_TITLE.PERSONAL_SPACE }}</p>
        </div>
        <div class="icon text-primary">
          <svg [lucideIcon]="SPACES_ICON.PERSONAL"></svg>
        </div>
      </div>
    </div>
  }
  @if (userService.userHavePermission(USER_PERMISSION.SPACES)) {
    <div class="col">
      <div [routerLink]="[SPACES_PATH.SPACES]" [relativeTo]="null" class="small-box">
        <div class="inner">
          <p l10nTranslate>{{ SPACES_TITLE.COLLABORATIVE_SPACES }}</p>
        </div>
        <div class="icon text-primary">
          <svg [lucideIcon]="SPACES_ICON.SPACES"></svg>
        </div>
      </div>
    </div>
  }
  @if (userService.userHavePermission(USER_PERMISSION.SHARES)) {
    <div class="col">
      <div [routerLink]="[SPACES_PATH.SPACES_SHARES]" [relativeTo]="null" class="small-box">
        <div class="inner">
          <p l10nTranslate>{{ SPACES_TITLE.SHARED_WITH_ME }}</p>
        </div>
        <div class="icon text-purple">
          <svg [lucideIcon]="SPACES_ICON.SHARED_WITH_ME"></svg>
        </div>
      </div>
    </div>
  }
  @if (userService.userHavePermission(USER_PERMISSION.SHARES_ADMIN)) {
    <div class="col">
      <div [routerLink]="[SPACES_PATH.SHARED]" [relativeTo]="null" class="small-box">
        <div class="inner">
          <p l10nTranslate>{{ SPACES_TITLE.SHARED_WITH_OTHER }}</p>
        </div>
        <div class="icon text-purple">
          <svg [lucideIcon]="SPACES_ICON.SHARED_WITH_OTHERS"></svg>
        </div>
      </div>
    </div>
  }
</div>
