<div class="link-page">
  <div class="header">
    <a routerLink="">
      <img alt="" height="40" [src]="logoUrl">
    </a>
  </div>
  <div class="d-flex flex-column align-content-center">
    <div class="d-flex flex-column align-items-center mt-3 mb-1 mx-auto cursor-pointer">
      <div (click)="followLink()" class="resource">
        <div class="mime">
          @if (file?.mimeUrl) {
            <img [src]="file.mimeUrl" alt="" height="96" class="no-select-pointer" (error)="fallBackMimeUrl()">
          } @else {
            <fa-icon [icon]="icons.SPACES" class="circle-primary-icon" [fixedWidth]="false" style="width: 96px; height: 96px; font-size: 48px"></fa-icon>
          }
        </div>
        <span class="error-code">{{ link.share?.name || link.space?.name }}</span>
      </div>
      @if (file?.isDir === false) {
        <div class="mt-3 mb-2 fs-lg">
          @if (file?.isViewable) {
            <button (click)="openLink()" class="btn btn-lg btn-outline-light me-2" l10nTranslate>
              <fa-icon [icon]="fileCanBeModified && file.isEditable ? icons.faPen : icons.faEye"></fa-icon>
            </button>
          }
          <button (click)="downloadLink()" class="btn btn-lg btn-outline-light">
            <fa-icon [icon]="icons.faDownload"></fa-icon>
          </button>
        </div>
      }
    </div>
  </div>
  <div class="error-text no-select">
    <span class="hr"></span>
    <div class="d-flex justify-content-center align-items-center">
      @if (link.owner) {
        <img [src]="link.owner.avatar" alt="" class="avatar-base-img me-3" width="42" height="42">
        <span class="oops me-2">{{ link.owner.fullName }}</span>
      }
      <span class="solve">
      @if (link.space) {
        <span l10nTranslate>You have been invited to join this space</span>
      } @else if (link.owner) {
        <span>{{ 'share with you this' | translate:locale.language }} {{ (link.share.isDir ? 'directory' : 'file') | translate:locale.language }}</span>
      } @else {
        <span l10nTranslate>You have been invited to join this share</span>
      }
      </span>
    </div>
  </div>
</div>