@if (space()) {
  <div appAutoResize class="fs-2xs" [resizeOffset]=resizeOffset>
    <div class="card px-1 pt-1">
      <div class="card-body align-self-center p-0 my-1">
        <fa-icon
          class="circle-primary-icon"
          style="font-size: 48px"
          [icon]="icons.SPACES"
          [fixedWidth]="false"
          [style.width.px]="cardImageSize"
          [style.height.px]="cardImageSize">
        </fa-icon>
      </div>
    </div>
    <hr class="my-1" />
    <div class="p-2">
      <div class="d-flex mb-1">
        <div class="d-flex col-sm-5 ps-1 pb-1 fw-semibold" l10nTranslate>Name</div>
        <div class="word-break-all fs-2xs">{{ space().name }}</div>
      </div>
      <div class="d-flex mb-1">
        <div class="d-flex col-sm-5 ps-1 pb-1 fw-semibold" l10nTranslate>Created</div>
        <div class="fs-2xs">{{ space().createdAt | amDateFormat }}</div>
      </div>
      <div class="d-flex mb-1">
        <div class="d-flex col-sm-5 ps-1 pb-1 fw-semibold" l10nTranslate>Modified</div>
        <div class="fs-2xs">{{ space().modifiedAt | amDateFormat }}</div>
      </div>

      <div class="d-flex align-items-center mb-1">
        <div class="d-flex col-sm-5 ps-1 pb-1 fw-semibold" l10nTranslate>Members</div>
        @if (space().counts.users || space().counts.groups) {
          <app-badge-members [members]="space().counts"></app-badge-members>
        } @else {
          <span class="badge bg-secondary-alt" l10nTranslate>no</span>
        }
      </div>
      <div class="d-flex align-items-center mb-1">
        <div class="d-flex col-sm-5 ps-1 pb-1 fw-semibold" l10nTranslate>Anchored</div>
        @if (space().counts.roots) {
          <span (click)="openSpaceRootsDialog()" class="badge bg-primary cursor-pointer me-1">
            <fa-icon [icon]="icons.ANCHORED"></fa-icon>
            {{ space().counts.roots }}
          </span>
        } @else {
          <span class="badge bg-secondary-alt" l10nTranslate>no</span>
        }
      </div>
      @if (space().role === SPACE_ROLE.IS_MANAGER) {
        <div class="d-flex align-items-center mb-1">
          <div class="d-flex col-sm-5 ps-1 pb-1 fw-semibold" l10nTranslate>Child shares</div>
          @if (space().counts.shares) {
            <span (click)="openChildShareDialog(space())" class="badge bg-purple cursor-pointer me-1">
            <fa-icon [icon]="icons.SHARED"></fa-icon>
            {{ space().counts.shares }}
          </span>
          } @else {
            <span class="badge bg-secondary-alt" l10nTranslate>no</span>
          }
        </div>
      }
    </div>
    <hr class="my-1" />
    <div class="p-2">
      <div class="d-flex align-items-center mb-1">
        <div class="d-flex col-sm-5 ps-1 pb-1 fw-semibold" l10nTranslate>Managers</div>
        @for (m of space().managers; track m.id) {
          <app-user-avatar [user]="m" [isMember]="true" [height]="26" [width]="26" tooltipPlacement="bottom"></app-user-avatar>
        }
      </div>
      <div class="d-flex align-items-center mb-1">
        <div class="d-flex col-sm-5 ps-1 pb-1 fw-semibold" l10nTranslate>Permissions</div>
        @if (space().permissions) {
          <app-badge-permissions [permissions]="space().hPerms"></app-badge-permissions>
        } @else {
          <span class="badge bg-secondary-alt" l10nTranslate>no</span>
        }
      </div>
    </div>
  </div>
}




