<div class="app-top-menu">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="input-group">
      <button (click)="doSearch()" [disabled]="searchContent().length < minCharsToSearch" class="btn btn-sm btn-default" role="button" type="button">
        <fa-icon [icon]="loading ? icons.faSpinner : icons.SEARCH_ICON" [animation]="loading ? 'spin' : null"></fa-icon>
      </button>
      <input [value]="searchContent()"
             (input)="setCurrentSearch($event)"
             [placeholder]="(this.store.currentSearch().fullText ? 'Search for content' : 'Search for files')|translate:locale.language"
             (keyup.enter)="doSearch()"
             (keyup.escape)="clearSearch()"
             class="search-input flex-fill form-control form-control-sm"
             name="search"
             type="text"
             appAutofocus
             autocomplete>
      @if (searchContent()) {
        <span class="search-clear-btn">
        <fa-icon (click)="clearSearch()" [icon]="icons.faTimes" role="button"></fa-icon>
      </span>
      }
      <button [ngModel]="this.store.currentSearch().fullText"
              (ngModelChange)="toggleFullText()"
              [tooltip]="'Search for content'|translate:locale.language"
              container="body"
              placement="bottom"
              class="btn btn-sm btn-custom"
              role="button"
              type="button"
              btnCheckbox>
        <fa-icon [icon]="icons.faFont"></fa-icon>
      </button>
    </div>

  </div>
  <button (click)="goTo(null, selectedId)"
          [disabled]="selectedId === null"
          class="search-go-to-btn d-none d-md-block btn btn-sm btn-default"
          [tooltip]="'Go to' | translate:locale.language"
          container="body"
          type="button">
    <fa-icon [icon]="icons.faMapMarkerAlt"></fa-icon>
  </button>
  <!--Start Filter Button-->
  <app-input-filter class="d-none d-md-block ms-auto"></app-input-filter>
  <!--End Filter Button-->
</div>
<div appAutoResize class="search-results-list" role="list">
  @if (errorMessage) {
    <div class="p-3 text-danger fw-500" l10nTranslate>{{ errorMessage }}</div>
  }
  @for (f of this.store.filesSearch() | searchFilter:inputFilter.search(); track $index) {
    <article class="app-div-striped search-result-item"
             (click)="selectedId = $index"
             (appTap)="goTo(f)"
             [class.selected]="$index === selectedId">
      <div class="search-result-header d-flex align-items-start">
        <img [src]="f.mimeUrl" (error)="f.fallBackMimeUrl()" alt="" draggable="false" class="search-result-mime">
        <div class="search-result-meta d-flex flex-column">
          <span class="search-result-name text-truncate">{{ f.name }}</span>
          <div class="search-result-path d-flex align-items-center text-{{f.iconClass}}">
            <fa-icon [icon]="f.icon" class="search-result-path-icon"></fa-icon>
            <span class="text-truncate search-result-path-text">{{ f.showedPath }}</span>
          </div>
        </div>
      </div>
      @if (f.matches?.length) {
        <div class="search-result-matches">
          @for (match of f.matches; track $index) {
            <p class="search-result-match" [innerHTML]="match"></p>
          }
        </div>
      }
    </article>
  }
</div>
