.app-sync-clients {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto !important;

  .left-panel {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-right: solid 1px;
    border-bottom: solid 1px;

    .left-panel-content {
      .osIcon {
        font-size: 1.2rem;
        margin-right: .4rem;
        margin-left: -2px;
      }

      fa-icon:first-child:not(.osIcon) {
        font-size: 1rem;
        margin-right: .4rem;
      }

      > div {
        height: 26px;
      }
    }
  }

  .right-panel {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px;
  }
}
