<div class="sidebar-component-title justify-content-between">
  <div style="width: 25px"></div>
  <div>
    @switch (nbActiveTasks) {
      @case (0) {
        <span>{{ (nbTotalTasks === 0 ? 'no_task' : nbTotalTasks > 1 ? 'nb_tasks' : 'one_task') | translate:locale.language:{ nb: nbTotalTasks } }}</span>
      }
      @default {
        <span>{{
            (nbActiveTasks > 1 ? 'nb_active_tasks' : 'one_active_task') | translate:locale.language:{
              nba: nbActiveTasks,
              nb: nbTotalTasks
            }
          }}
      </span>
      }
    }
  </div>
  @if (nbTotalTasks) {
    <button (click)="removeTasks()" class="btn btn-sm btn-default">
      <fa-icon [icon]="icons.faTrashAlt"></fa-icon>
    </button>
  } @else {
    <div style="width: 35px"></div>
  }
</div>
<!-- Inner menu: contains the tasks -->
<div appAutoResize>
  @for (task of tasks; track task.id) {
    @let pending = isTaskPending(task);
    @let error = isTaskError(task);
    @let cancelled = isTaskCancelled(task);
    @let openable = canOpenTask(task);
    @let cancellable = canCancel(task);
    <div class="task-list"
         [class.task-list--cancelled]="cancelled"
         [class.task-list--error]="error"
         [class.task-list--interactive]="openable"
         [class.task-list--pending]="pending"
         [tooltip]="task.result ? (task.result | translate:locale.language) : ''"
         (click)="openTask(task)"
         placement="bottom">
      <div class="task-list__content">
        <div class="task-list__header">
          <fa-icon class="task-list__status"
                   [class.text-danger]="error"
                   [class.text-muted]="cancelled"
                   [icon]="iconsStatus[task.status]"
                   [animation]="pending ? 'spin-pulse' : null"></fa-icon>
          <span class="task-list__operation">
            <fa-icon [icon]="iconsOperation[task.type]"></fa-icon>
          </span>
          <span class="task-list__name">{{ task.name }}</span>
        </div>
        @if (task.status >= 2 && !cancelled) {
          <div [class.text-danger]="error" class="task-list__result">
            {{ task.result | translate:locale.language }}
          </div>
        }
      </div>
      <div class="task-list__progress-row">
        <div class="task-list__progress">
          <progressbar [max]="100"
                       [value]="task.status > 0 ? 100 : task.props.progress || 100"
                       [type]="pending ? 'warning' : error ? 'danger' : null"
                       [class.custom-progress-bar--cancelled]="cancelled"
                       class="custom-progress-bar position-relative">
              <span class="task-list__progress-label d-flex align-items-center justify-content-center position-absolute w-100">
                @if (task.props.size) {
                  <span>{{ task.props.size | toBytes:2 }}&nbsp;•&nbsp;</span>
                }
                @if (task.props.directories) {
                  <fa-icon [icon]="icons.faFolderClosed"></fa-icon>
                  <span>&nbsp;{{ task.props.directories }}&nbsp;•&nbsp;</span>
                }
                @if (task.props.files) {
                  <fa-icon [icon]="icons.faFile"></fa-icon>
                  <span>&nbsp;{{ task.props.files }}&nbsp;•&nbsp;</span>
                }
                <fa-icon [icon]="icons.faClock"></fa-icon>
                <span>&nbsp;{{ task.startedAt | amTimeAgo:true }}</span>
              </span>
          </progressbar>
        </div>
        @if (cancellable) {
          <button type="button"
                  (click)="cancelTask($event, task)"
                  [tooltip]="'Stop' | translate:locale.language"
                  class="btn btn-sm btn-default task-list__cancel"
                  placement="top">
            <fa-icon [icon]="icons.faStop"></fa-icon>
          </button>
        }
      </div>
    </div>
  }
</div>
