<div class="recents-widget-card">
  <div class="recents-widget-card__header">
    <div class="recents-widget-card__title-wrap">
      <span class="recents-widget-card__title-icon">
        <svg [lucideIcon]="icons.LucideMessageSquareMore"></svg>
      </span>
      <span class="recents-widget-card__title" l10nTranslate>Comments</span>
    </div>
    <button type="button" class="recents-widget-card__toggle" (click)="switchMore()">
      <svg [lucideIcon]="moreElements ? icons.LucideZoomOut : icons.LucideZoomIn"></svg>
    </button>
  </div>
  <div class="recents-widget-card__body">
    @for (c of comments(); track c.id; let i = $index) {
      <button type="button" class="recent-item-card" [style.animation-delay.ms]="i * 22" (click)="goToFile(c)">
        <span>
          <app-user-avatar [user]="c.author" [container]="'body'"></app-user-avatar>
        </span>
        <span class="recent-item-card__content">
          <span class="recent-item-card__title">{{ c.content }}</span>
          <app-file-location class="recent-item-card__path" [location]="c"></app-file-location>
        </span>
        <span class="recent-item-card__time">{{ c.modifiedAt | amLiveTimeAgo }}</span>
      </button>
    } @empty {
      <div class="recent-empty-state">
        <svg [lucideIcon]="icons.LucideMessageSquareMore"></svg>
        <div class="mt-3" l10nTranslate>No recent comments</div>
      </div>
    }
  </div>
</div>
