<div class="breadcrumb">
  <div class="breadcrumb-content">
    @for (item of levels; track $index) {
      @if (!$first) {
        <fa-icon
          [class.breadcrumb-mobile-hidden]="$index > 1"
          [icon]="icons.faChevronRight"
          [fixedWidth]="false">
        </fa-icon>
      }
      <li
        [class.breadcrumb-mobile-active]="$index === 1"
        [class.breadcrumb-mobile-hidden]="$index > 1"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}">
        <a [routerLink]="item.link">
          @if ($first && breadcrumbIcon) {
            <fa-icon [icon]="breadcrumbIcon"></fa-icon>
          }
          <span>{{ item.title }}</span>
        </a>
      </li>
    }
  </div>
</div>
