.bg-gray-dark {
  background-color: $gray-700;
}

.bg-gray-light-important {
  background-color: $gray-light !important;
}

.bg-purple {
  background-color: $purple !important;
}

.bg-maroon {
  background-color: $maroon;
}

.bg-secondary-alt {
  background-color: $secondary;
  color: black;
}

.bg-soft-warning {
  background-color: rgba($warning, 0.6) !important;
}

.drag-over {
  background-color: $secondary !important;
  color: black !important;
}