.box-transparent {
  position: relative;
  width: 100%;
  border: 1px solid;
  border-radius: $box-border-radius;
  overflow: hidden;
  transition: box-shadow .2s ease;

  .box-header {
    border-bottom: 1px solid;
    height: auto;
    padding: 0.3rem 0.8rem;

    > fa-icon {
      font-size: 1rem;

      &:first-child {
        margin-right: 10px;
      }
    }

    .box-title {
      font-weight: 500;
    }
  }

  .box-body {
    padding: 0.2rem 0.4rem 0.4rem;
  }
}

.recents-grid {
  padding: 5px;
  row-gap: 16px;
}


.box-header {
  display: flex;
  align-items: center;
  padding: $box-padding;

  .box-title {
    @extend .no-select;
    display: inline-block;
    font-size: $font-size-xs;
    margin: 0;
    line-height: 1;
  }

  > fa-icon {
    color: $gray;
    font-size: $font-size-md;
  }
}

//Box Body
.box-body {
  border-radius: 0 0 $box-border-radius, $box-border-radius;
  padding: $box-padding;

  > .table {
    margin-bottom: 0;
  }
}

.box-header,
.box-body {
  @include clearfix;
}

.small-box {
  @include border-radius($border-radius);
  position: relative;
  display: flex;
  margin-bottom: 10px;
  min-height: 45px;
  cursor: pointer;
  border: .5px solid darken($body-bg, 5%);
  // content wrapper
  > .inner {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  h4 {
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    padding: 0;

  }

  p {
    font-size: $font-size-xs;
    margin: 0;

    > small {
      display: block;
      color: #f9f9f9;
      font-size: $font-size-xs;
      margin-top: 5px;
    }
  }

  h4, p {
    z-index: 5;
  }

  .icon {
    transition: all $transition-speed linear;
    align-self: center;
    margin-left: auto;
    padding-right: 10px;
    z-index: 0;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.15);
  }

  &:hover {
    background-color: $table-bg-hover;
    text-decoration: none;
    // Animate icons on small box hover
    .icon {
      font-size: 28px;
    }
  }
}

@include media-breakpoint-down(lg) {
  // No need for icons on very small devices
  .small-box {
    .icon {
      margin-right: auto;
      padding-right: 0;
    }

    .inner {
      display: none;
    }
  }
}
