.btn {
  transition: background-color .2s ease, border-color .2s ease, color .2s ease;
  box-shadow: none !important;
}

.btn-link {
  box-shadow: none !important;
}

.btn-custom {
  @extend .btn-secondary;
  margin-right: 0.2rem;
  transition: background-color .2s ease, border-color .2s ease, color .2s ease;
}

.btn-default {
  @extend .btn;
}

.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, $btn-border-radius-sm);
}

.btn-xxs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-3xs, $btn-border-radius-sm);
}

.btn-group-xs > .btn {
  @extend .btn-xs;
}

.btn-outline-secondary-alt {
  @extend .btn-outline-secondary;
}

.btn-file-upload {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}


.btn-minimize {
  @extend .btn-close;
}

.btn-minimize-white {
  @extend .btn-close-white;
}
