.circle-icon {
  @include circle-icon-utility;
}

.circle-icon-sm {
  @include circle-icon-sm-utility;
}

.circle-gray-icon {
  @include circle-icon-utility;
  background-color: darken($gray-light, 2%);
  color: black;
}

.circle-gray-icon-sm {
  @include circle-icon-sm-utility;
  background-color: darken($gray-light, 2%);
  color: black;
}

.circle-primary-icon, .circle-enabled-icon {
  @include circle-icon-utility;
  background: linear-gradient(#0086d7, #00456f);
  color: whitesmoke;
}

.circle-primary-icon-sm {
  @include circle-icon-sm-utility;
  background: linear-gradient(#0086d7, #00456f);
  color: whitesmoke;
}

.circle-purple-icon {
  @include circle-icon-utility;
  background: linear-gradient(#965ab4, #5a3778);
  color: whitesmoke;
}

.circle-purple-icon-sm {
  @include circle-icon-sm-utility;
  background: linear-gradient(#965ab4, #5a3778);
  color: whitesmoke;
}

.circle-sync-icon {
  @include circle-icon-utility;
  background: linear-gradient(#f06400, #962800);
  color: whitesmoke;
}

.circle-error-icon {
  @include circle-icon-utility;
  background: linear-gradient(#e63228, #c80f0a);
  color: whitesmoke;
}

.circle-error-icon-sm {
  @include circle-icon-sm-utility;
  background: linear-gradient(#e63228, #c80f0a);
  color: whitesmoke;
}

.circle-disabled-icon {
  @include circle-icon-utility;
  background: linear-gradient(#818181, #434343);
  color: whitesmoke;
}
