:root {
  --ngx-contextmenu-font-family: var(--bs-body-font-family) !important;
  --ngx-contextmenu-item-separator-width: 100% !important;
  --ngx-contextmenu-outline: none !important;
}

.ngx-contextmenu, .cdk-overlay-container {
  z-index: $zindex-tooltip !important;
}

.ngx-contextmenu {
  padding: .25rem !important;
  font-size: $font-size-xs !important;
  border-width: .5px !important;
  border-style: solid !important;
  @include app-menu-surface-structure($btn-border-radius, .25rem, true);

  > button.ngx-context-menu-item  {
    padding: $dropdown-item-padding-y $dropdown-item-padding-x !important;
    align-items: center !important;
    @include app-menu-item-structure($btn-border-radius, 0, true);

    > span {
      display: flex;
      align-items: center;

      > fa-icon {
        margin-right: 0.4rem;
        font-size: $font-size-md;
      }
    }
  }
  > [role='separator'] {
    border-bottom: none !important;
    @include app-menu-divider-structure(.2rem 0, .5px, true);
  }
}
