.dropdown-menu {
  min-width: 0 !important;
  font-size: $font-size-xs;
  @include app-menu-surface-structure(.72rem, .25rem);

  > li > a {
    @include app-menu-item-structure(.55rem, 1px);

    > .fas, .far {
      margin-right: 10px;
    }
  }

  .dropdown-header {
    font-size: $font-size-xs;
  }
}

.dropdown-item {
  cursor: pointer;
  @include app-menu-item-structure(.55rem, 1px);

  > span {
    display: flex;
  }
}

.dropdown-divider {
  @include app-menu-divider-structure(.2rem 0, .5px);
}

.dropdown-toggle {
  &:after {
    display: none;
  }
}

// Shares Dialog
button {
  &.dropdown-item {
    padding-left: 5px;
    padding-right: 5px;
  }
}
