// fix firefox outline
a, .row, tbody {
  outline: none !important;
}

select:focus, .form-select:focus {
  box-shadow: none !important;
}

hr {
  border-top: .5px solid;
  color: $gray;
  opacity: 0.5;
}

.progress-bar {
  overflow: visible !important;
}