.form-control {
  &:focus {
    border-color: $primary;
    box-shadow: none;
  }

  &::placeholder {
    font-size: $font-size-base !important;
    color: $placeholder-color;
    opacity: 1;
  }

  &:not(select) {
    appearance: none;
  }
}

.form-control-sm {
  &::placeholder {
    font-size: $font-size-sm !important;
  }
}

.form-validation {
  .ng-valid:not(.form-check-input), .ng-valid[required], .ng-valid.required {
    border-inline-start: 5px solid $primary;
  }

  .ng-invalid:not(form) {
    border-inline-start: 5px solid $red !important;
  }
}

.form-check-label {
  font-weight: inherit;
  cursor: pointer !important;
  @include no-select-utility;

  input {
    margin-inline-end: 0.25rem;
  }
}

.form-check-input {
  margin-inline-end: 0 !important;
}

