.form-control {
  @include border-radius($border-radius-base);

  &:focus {
    border-color: $primary;
    box-shadow: none;
  }

  &::placeholder {
    color: $placeholder-color;
    opacity: 1;
  }

  &:not(select) {
    appearance: none;
  }
}

.form-control-sm {
  font-size: $font-size-xs;
}

.form-validation {
  .ng-valid:not(.form-check-input), .ng-valid[required], .ng-valid.required {
    border-left: 5px solid $primary;
  }

  .ng-invalid:not(form) {
    border-left: 5px solid $red !important;
  }
}

.form-check-label {
  font-weight: inherit;
  cursor: pointer !important;
  @extend .no-select;

  input {
    margin-right: 0.25rem;
  }
}

.form-check-input {
  margin-right: 0 !important;
}


