.link-page {
  background: $application_background;
  text-align: center;
  padding: 0;
  border: none;
  min-height: 100vh;
  width: 100%;

  .header {
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  }

  .resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .3rem;
    &:hover {
      span {
        @extend .text-gray;
      }
    }
    .mime {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.2);
      padding: .3rem;
      border-radius: 1rem;
      margin: .8rem;
    }
  }

  .error-code {
    @extend .no-select-pointer;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    line-height: normal;
  }

  .error-text {
    color: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    padding: 0 20px;

    .oops {
      font-size: 18px;
    }

    .hr {
      background: #fff;
      background: rgba(0, 0, 0, 0.2);
      display: inline-block;
      height: 5px;
      margin: 15px 0 5px 0;
      width: 40px;
    }

    .solve {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
