@mixin box-solid-variant($color, $text-color: #fff, $border-darken: false) {
  @if $border-darken {
    border: .5px solid darken($color, 5%);
  } @else {
    border: .5px solid $color;
  }
  border-radius: 2px;
  > .box-header {
    color: $text-color;
    background-color: $color;

    a,
    .btn {
      color: $text-color;
    }
  }
}
