.modal {
  // backdrop
  background: rgba(0, 0, 0, .6);

  .modal-content {
    background-color: transparent;
  }

  .modal-header {
    max-height: 41.5px;
    line-height: 1;
    @extend .no-select;

    .modal-title {
      @extend .text-truncate;
      font-size: $font-size-sm;
      line-height: 2;

      i {
        margin-right: 5px;
      }

      &.ms-auto {
        font-size: $font-size-xs;
      }
    }
  }

  .modal-body {
    font-size: $font-size-xs;
    padding: 8px 12px;
  }

  .nav-link {
    white-space: nowrap;
    @extend .no-select-pointer;
    width: 98% !important;
  }

}

.modal-xs {
  max-width: $modal-xs;
  --bs-modal-width: $modal-xs;
  margin-right: auto;
  margin-left: auto;
}

.modal-full {
  max-width: 100%;

  &.modal-dialog {
    margin: 0;
  }

  .modal-content {
    border: none !important;
    border-radius: 0 !important;

    .modal-header {
      border: none !important;
      border-radius: 0 !important;
    }

    .modal-body {
      padding: 0;
    }
  }
}

.modal-primary {
  .modal-header {
    @extend .bg-primary;
    color: white;
  }
}

.modal-backdrop {
  // used by the files viewer
  --bs-backdrop-zindex: 0 !important;
}

.modal-auth-verify-2fa, .modal-viewer-select {
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
}

/* Initial state (before opening) */
.modal.fade .modal-dialog {
  opacity: 0;
  transform: translateY(-20px) scale(0.95);
  transition:
          transform 0.45s cubic-bezier(0.16, 1, 0.3, 1),
          opacity 0.3s ease-out;
}

/* Final state (modal visible) */
.modal.show .modal-dialog {
  opacity: 1;
  transform: translateY(0) scale(1);
}