/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */
.toast-title {
  font-size: $font-size-sm;
}

.toast-message {
  font-size: $font-size-xs;
}

.ngx-toastr {
  background-color: rgba(0, 0, 0, .9);
  min-width: 250px;
  width: auto !important;
}

.toast-online {
  display: flex;
  align-items: center;
  color: white;
  margin-left: -40px;
}
