$toastr-alpha: 0.95;
$toast-icon-success-path: 'M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z';
$toast-icon-error-path: 'M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z';
$toast-icon-info-path: 'M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z';
$toast-icon-warning-path: 'M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z';
$toast-light-variants: (
  success: $success,
  error: $danger,
  info: $info,
  warning: $warning
);
$toast-dark-variants: (
  success: (#16a34a4d, #4ade8080, #bbf7d0, '0 0 512 512', $toast-icon-success-path),
  error: (#dc26264d, #f8717180, #fecaca, '0 0 512 512', $toast-icon-error-path),
  info: (#4f46e54d, #818cf880, #c7d2fe, '0 0 512 512', $toast-icon-info-path),
  warning: (#f59e0b4d, #fbbf2480, #fde68a, '0 0 576 512', $toast-icon-warning-path)
);

@mixin toast-badge-vars(
  $tone,
  $light-bg-mix: 84%,
  $light-border-mix: 66%
) {
  $light-bg: mix(rgba($white, 0.92), mix($white, $tone, $light-bg-mix), 72%);
  $light-border: mix($white, $tone, $light-border-mix);

  background-color: rgba($light-bg, $toastr-alpha) !important;
  border-color: $light-border !important;
}

@mixin toast-badge-dark-vars($bg, $border) {
  background-color: $bg !important;
  border-color: $border !important;
}

@function toast-svg-icon($fill, $viewbox, $path) {
  $svg: "url(\"data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='#{$viewbox}'><path fill='#{rgba($fill, 0.999999)}' d='#{$path}'/></svg>\")";
  @return escape-svg($svg);
}

.toast-title {
  font-size: $font-size-sm;
}

.toast-message {
  font-size: $font-size-xs;
}

.ngx-toastr {
  @include toast-badge-vars($gray, 87%, 66%);
  min-width: 250px;
  width: auto !important;
}

@each $variant, $tone in $toast-light-variants {
  .toast-container .ngx-toastr.toast-#{$variant} {
    @include toast-badge-vars($tone);
  }
}

@each $variant, $values in $toast-dark-variants {
  body.theme-dark .toast-container .ngx-toastr.toast-#{$variant} {
    @include toast-badge-dark-vars(nth($values, 1), nth($values, 2));
    color: nth($values, 3) !important;
    background-image: toast-svg-icon(nth($values, 3), nth($values, 4), nth($values, 5)) !important;
  }
}

.toast-top-right {
  top: 8px !important;
  right: calc($sidebar-apps-icons-width + 5px) !important;
}