.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;

  &.product-list-in-box {
    border-bottom: .5px solid;
    > .item {
      box-shadow: none;
    }
  }

  > .item {
    display: flex;
    align-items: center;
    padding: 3px 80px 3px 8px;
    @extend .text-truncate;
  }

  > li {
    cursor: pointer;
  }

  .product-img {
    float: none;
    min-width: 30px;
    width: 30px;
    min-height: 30px;
    height: 30px;
    border-radius: $btn-border-radius;
    display: grid;
    place-items: center;
    margin-right: 0.5rem;

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  .product-info {
    margin-left: 0;
    min-width: 0;
  }

  .product-title {
    display: flex;
    font-weight: 400;
    white-space: nowrap;

    span:first-of-type {
      @extend .text-truncate;
      font-size: $font-size-xs;
    }
  }

  .product-badge {
    display: flex;
    align-self: center;
    position: absolute;
    right: 10px;
    font-size: $font-size-2xs;

    > span {
      display: flex;
    }
  }

  .product-description {
    @extend .text-truncate;
    display: block;
    font-size: $font-size-3xs;
    color: #999;
  }
}
