.profile-page {
  height: 100%;
  font-size: $font-size-xs;
}

.user-groups-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: $font-size-xs;
  padding: 0.4rem;
}

.user-header {
  display: flex;
  justify-content: space-between;
  padding: 0 .8rem .8rem .8rem;
  text-align: end;

  .user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > div:first-of-type {
      font-weight: 500;
      font-size: 1rem;
    }

    .small {
      font-size: $font-size-xxxxs;
    }

    select {
      cursor: pointer;
      background-color: transparent !important;
      color: $white;
      filter: brightness(0) invert(1);
      min-width: 110px;
      max-width: 135px;

      option {
        color: black;
      }
    }
  }
}

.profile-sync-in-footer {
  display: flex;
  flex-direction: column;
  margin: 0.4rem 0.6rem 0.2rem;
  flex: 1 1 auto !important;
  font-size: $font-size-xs;
}

.profile-user-img {
  margin: 0 auto;
  width: 100px;
  padding: 3px;
  border: 3px solid $gray;
}

.profile-username {
  font-size: $font-size-lg;
  margin-top: 5px;
}
