.left-sidebar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: $sidebar-z-index;

  .sidebar-apps-icons {
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 100%;
    width: $sidebar-apps-icons-width;

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: $sidebar-apps-icons-width;
      cursor: pointer;

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: $sidebar-apps-height;
        width: 100%;
        position: relative;

        &:first-child {
          user-select: none;
          background-color: $sidebar-light-apps-menu-title-bg;

          &:hover {
            background: $sidebar-light-icons-menu-hover-bg;
          }

          .logo-container {
            background: $sidebar-light-apps-menu-hover-color;
          }
        }

        > fa-icon {
          font-size: 1rem;
        }

        > .logo-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;

          > img {
            height: 24px;
          }
        }


        .menu-badge-icon {
          position: absolute;
          font-size: $font-size-xxxs;
          width: $sidebar-apps-icons-width;

          .badge {
            position: absolute;
            right: 3px;
            bottom: 1px;
          }
        }
      }

      .menu-mini {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
        left: 100%;
        top: 0;
        width: calc($sidebar-apps-menus-width - 20px);
        box-sizing: border-box;
        padding: 3px 2px;
        z-index: $sidebar-z-index;
        font-size: $font-size-xxs;
        border-top-right-radius: $btn-border-radius;
        border-bottom-right-radius: $btn-border-radius;

        &.align-self-start {
          top: 0;
          bottom: auto;
        }

        &.align-self-end {
          top: auto;
          bottom: 0;
        }

        > a {
          display: flex;
          align-items: center;
          gap: .5rem;
          flex: 1 1 auto;
          width: auto;
          margin: 2px 2px;
          justify-content: flex-start;
          height: calc(#{$sidebar-apps-height} - 6px);
          padding: 0 8px;
          border-radius: $btn-border-radius;
          @extend .text-truncate;
          @extend .no-select-pointer;

          > fa-icon {
            font-size: $font-size-md;
            margin-right: 0;
            width: .95rem;
            min-width: .95rem;
            display: inline-flex;
            justify-content: center;
            opacity: .88;
          }

          .menu-badge {
            margin-left: auto;
            font-size: $font-size-xxxs;
          }
        }

        > a.mini-submenu-item {
          font-size: $font-size-xxxs;
          padding-left: 20px;
        }
      }
    }
  }

  .sidebar-apps-menus {
    display: flex;
    flex-direction: column;
    width: $sidebar-apps-menus-width;

    .menu-title {
      @extend .no-select;
      display: flex;
      align-items: center;
      min-height: $sidebar-apps-height;
      height: $sidebar-apps-height;
      min-width: $sidebar-apps-menus-width;
      font-size: $font-size-xs;
      cursor: pointer;
      background: $sidebar-light-apps-menu-title-bg;
      border-bottom: .5px solid $sidebar-light-apps-menu-title-bg;

      > a {
        @extend .text-truncate;
        display: flex;
        align-items: center;
        padding-left: 8px;
        padding-right: 0;
        max-height: $sidebar-apps-height;
        width: 100%;
        color: $sidebar-light-apps-menu-title-color;
      }

      &:hover, &.active {
        background: $sidebar-light-apps-menu-title-bg;

        > a {
          color: $sidebar-light-apps-menu-title-color;
        }
      }

      .sidebar-title {
        @extend .text-truncate;
        text-transform: uppercase;
        margin-right: auto;
        font-size: $font-size-xxs;

        > span {
          @extend .text-truncate;
        }

        > fa-icon {
          margin-right: .25rem;
          font-size: $font-size-lg;
        }
      }

      .sidebar-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: $navbar-height;
        min-width: 30px;
        font-size: $font-size-lg;
        margin: 0;
        color: inherit;

        &:hover {
          color: $white;
          background: $sidebar-light-icons-menu-hover-bg;
        }
      }
    }

    .menus-content {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding-top: 4px;
    }

    .menus-group {
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin;

      .menu {
        display: flex;
        align-items: center;
        min-height: $sidebar-apps-height;
        height: $sidebar-apps-height;
        min-width: $sidebar-apps-menus-width;
        font-size: $font-size-xs;
        cursor: pointer;

        &.submenu {
          padding-left: 10px;
          font-size: $font-size-xxs;

          fa-icon {
            font-size: $font-size-sm
          }
        }

        > a {
          display: flex;
          align-items: center;
          gap: .5rem;
          flex: 1 1 auto;
          width: auto;
          height: calc(#{$sidebar-apps-height} - 5px);
          margin: 0 6px;
          padding: 0 10px;
          border-radius: $btn-border-radius;
          max-height: none;
          @extend .text-truncate;
          @extend .no-select-pointer;

          > fa-icon {
            font-size: $font-size-md;
            margin-right: 0;
            width: .95rem;
            min-width: .95rem;
            display: inline-flex;
            justify-content: center;
            opacity: .88;
          }

          .menu-badge {
            margin-left: auto;
            font-size: $font-size-xxxs;
          }
        }

        // Auto collapse on submenus

        //&.collapse-hide {
        //  min-height: 0 !important;
        //  height: 0 !important;
        //  overflow: hidden;
        //  opacity: 0;
        //  transition: all .2s ease-in-out;
        //  border-bottom: none !important;
        //}
        //
        //&.collapse-show {
        //  min-height: $sidebar-apps-height;
        //  height: $sidebar-apps-height;
        //  opacity: 1;
        //  transition: min-height .25s, height .25s, opacity .4s ease-in-out;
        //}
      }
    }

    .sidebar-apps-footer {
      @media screen and ((height < 350px) or (width < map-get($grid-breakpoints, md))) {
        display: none !important;
      }
      display: flex;
      padding: 5px;
      margin-left: auto;
      margin-top: auto;

      span {
        @extend .no-select;
        font-size: $font-size-xxxs;
      }
    }
  }
}
