.left-sidebar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: $sidebar-z-index;

  .sidebar-apps-menus {
    display: flex;
    flex-direction: column;
    width: $sidebar-apps-menus-width;

    .menu-title {
      @include no-select-utility;
      display: flex;
      align-items: center;
      min-height: $sidebar-apps-height;
      height: $sidebar-apps-height;
      min-width: $sidebar-apps-menus-width;
      font-size: $font-size-xs;
      cursor: pointer;
      background: $sidebar-light-apps-menu-title-bg;
      border-bottom: .5px solid $sidebar-light-apps-menu-title-bg;

      .menu-title-content {
        @include text-truncate-utility;
        display: flex;
        align-items: center;
        padding-left: 6px;
        padding-right: 0;
        max-height: $sidebar-apps-height;
        width: 100%;
        color: $sidebar-light-apps-menu-title-color;
      }

      &:hover, &.active {
        background: $sidebar-light-apps-menu-title-bg;

        .menu-title-content {
          color: $sidebar-light-apps-menu-title-color;
        }
      }

      .logo-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $layout-logo-container-size;
        width: $layout-logo-container-size;
        height: $layout-logo-container-size;
        padding: 0;
        border: none;
        border-radius: 50%;
        margin-right: .5rem;
        background: $black;
        cursor: pointer;

        > img {
          width: $layout-logo-image-size;
          height: $layout-logo-image-size;
        }
      }

      .sidebar-title {
        @include text-truncate-utility;
        text-transform: uppercase;
        margin-right: auto;
        font-size: $font-size-xs;

        > span {
          @include text-truncate-utility;
        }

        > fa-icon {
          margin-right: .25rem;
          font-size: $font-size-lg;
        }
      }
    }

    .apps-shortcuts {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.2rem 0;
      padding: 0 6px 0 6px;
      min-height: 40px;
      max-height: 40px;
      border-bottom: .5px solid transparent;
      border-right: .5px solid transparent;

      .app-shortcut {
        flex: 0 0 calc(#{$sidebar-apps-height} - 8px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(#{$sidebar-apps-height} - 8px);
        height: calc(#{$sidebar-apps-height} - 8px);
        border: .5px solid transparent;
        border-radius: $btn-border-radius;
        background: transparent;
        cursor: pointer;

        > fa-icon {
          font-size: $font-size-lg;
        }

        .menu-badge-icon {
          position: absolute;
          font-size: $font-size-xs;
          width: 100%;
          inset: 0;
          pointer-events: none;

          .badge {
            @extend .badge-color-full;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(15%, -15%);
            z-index: 1;
            min-width: 16px;
            height: 16px;
            padding: 0 5px;
            border-radius: 9999px;
            font-size: $font-size-2xs;
            line-height: 16px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .menus-content {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding-top: 2px;
    }

    .menus-group {
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin;

      .menu {
        display: flex;
        align-items: center;
        min-height: $sidebar-apps-height;
        height: $sidebar-apps-height;
        min-width: $sidebar-apps-menus-width;
        cursor: pointer;

        &.submenu {
          padding-left: 10px;
          font-size: $font-size-sm;

          fa-icon {
            font-size: $font-size-base;
          }
        }

        > a {
          display: flex;
          align-items: center;
          gap: .5rem;
          flex: 1 1 auto;
          width: auto;
          height: calc(#{$sidebar-apps-height} - 5px);
          margin: 0 6px;
          padding: 0 10px;
          border-radius: $btn-border-radius;
          max-height: none;
          @include text-truncate-utility;
          @include no-select-pointer-utility;

          > fa-icon {
            font-size: $font-size-lg;
            margin-right: 0;
            width: .95rem;
            min-width: .95rem;
            display: inline-flex;
            justify-content: center;
            opacity: .88;
          }

          .menu-badge {
            margin-left: auto;
            font-size: $font-size-xs;
          }
        }

      }
    }

    .sidebar-apps-footer {
      @media screen and ((height < 350px) or (width < map-get($grid-breakpoints, md))) {
        display: none !important;
      }
      display: flex;
      padding: 4px;
      margin-left: auto;
      margin-top: auto;

      span {
        @include no-select-utility;
        font-size: $font-size-2xs;
      }
    }
  }
}
