.task-list {
  @extend .no-select-pointer;
  border-bottom: .5px solid transparent;
  font-size: $font-size-sm;

  &:hover {
    background-color: transparent;
  }

  > div {
    padding: 0.3rem;
    //max-height: 50px;
  }
}

.custom-progress-bar {
  background-color: black;
  font-size: $font-size-xs;

}
