.task-list {
  @extend .no-select-pointer;
  border-bottom: .5px solid transparent;
  font-size: $font-size-xxs;

  &:hover {
    background-color: transparent;
  }

  > div {
    height: $sidebar-apps-height;
  }
}

.custom-progress-bar {
  background-color: black;
  font-size: $font-size-xxs;

  &.progress {
    height: 18px !important;
  }

  .progress-bar {
    height: 18px !important;
  }

}
