.white-space-normal {
  white-space: normal !important;
}

.white-space-truncate {
  white-space: nowrap !important;
}

.word-break-all {
  word-break: break-all;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-file-name-preserve {
  white-space: pre !important;
}

.text-gray {
  color: $gray !important;
}

.text-purple {
  color: $purple !important;
}

.text-muted {
  color: $muted !important;
}

.text-light-gray {
  color: $gray-light;
}

.text-light-green {
  color: $light-green;
}

.text-body-color {
  color: $body-color;
}

.text-failed {
  text-decoration: line-through;
}

.fs-lg {
  font-size: $font-size-lg;
}

.fs-md {
  font-size: $font-size-md;
}

.fs-sm {
  font-size: $font-size-sm !important;
}

.fs-xs {
  font-size: $font-size-xs !important;
}

.fs-2xs {
  font-size: $font-size-2xs !important;
}

.fs-3xs {
  font-size: $font-size-3xs !important;
}

.fs-4xs {
  font-size: $font-size-4xs !important;
}

.fw-500 {
  font-weight: 500;
}
