//Light Sidebar Mixins
@mixin skin-light-left-sidebar() {
  // Sidebar background color (Both .wrapper is responsible for sidebar bg color)
  .wrapper, .left-sidebar {
    background-color: $sidebar-light-apps-menu-bg;
  }
  .left-sidebar {
    // Side bar Menu apps
    .sidebar-apps-icons {
      background-color: $sidebar-light-icons-menu-bg;

      .menu > a {
        color: $sidebar-light-icons-menu-color;

        &:not(:first-child) {
          border-bottom: .5px solid $sidebar-light-icons-menu-bg;

          &:hover, &.active {
            color: $sidebar-light-icons-menu-hover-color;
            background: $sidebar-light-icons-menu-hover-bg;
          }
        }
      }

      .menu-mini {
        background-color: $light-sidebar-mini-bg;

        > a {
          color: $sidebar-light-apps-menu-hover-color;
          border: .5px solid transparent;

          &:hover {
            background: $light-sidebar-mini-hover-bg;
          }

          &.active {
            background: $light-sidebar-mini-active-bg;
            border-color: $light-sidebar-mini-active-border;
            font-weight: 500;
            color: $navy;

            > fa-icon:first-child {
              color: $light-sidebar-mini-active-icon;
            }
          }
        }

        .chat-item-sidebar {
          background-color: $light-sidebar-mini-bg;
          color: $sidebar-light-apps-menu-hover-color;

          &:not(:last-child) {
            border-bottom: .5px solid $light-sidebar-mini-bg !important;
          }

          &:hover, &.active {
            border-left-color: transparent !important;
            background: $light-sidebar-mini-active-bg !important;
            color: $navy;
          }
        }
      }
    }

    .sidebar-apps-menus {
      .menus-content {
        background-color: $light-sidebar-mini-bg;
        border-right: .5px solid $sidebar-light-apps-menu-border-color;
      }

      .menu {
        border-bottom: 0;

        > a {
          color: $sidebar-light-apps-menu-hover-color;
          border: .5px solid transparent;
        }

        //&.submenu {
        //  background-color: darken($sidebar-light-apps-menu-bg, 3%);
        //}

        &:hover {
          > a {
            background: $light-sidebar-mini-hover-bg;
          }
        }

        &.active {
          > a {
            background: $light-sidebar-mini-active-bg;
            border-color: $light-sidebar-mini-active-border;
            font-weight: 500;
            color: $navy;

            > fa-icon:first-child {
              color: $light-sidebar-mini-active-icon;
            }
          }
        }
      }

      .sidebar-apps-footer {
        color: $sidebar-light-apps-menu-color;
      }
    }
  }
}

@mixin skin-light-right-sidebar() {
  .control-sidebar-theme-light {
    background: $light-sidebar-surface;
    border-left: .5px solid $sidebar-light-apps-menu-border-color;

    .sidebar-component-title,
    .sidebar-title {
      background-color: $theme-light-panel-bg;
      color: $black;
      border-bottom: .5px solid $secondary;
    }

    hr {
      border-top: .5px solid $sidebar-light-apps-menu-border-color;
      opacity: 1;
    }
  }
  .control-sidebar-menu {
    .sidebar-apps-icons {
      background-color: $light-sidebar-icons-bg;
      border-left: .5px solid $sidebar-light-apps-menu-border-color;

      .menu {
        > a {
          color: $sidebar-light-apps-menu-color;

          &:hover, &.active {
            color: $black;
            background: $light-sidebar-mini-active-bg;
          }
        }
      }
    }
  }
}

@mixin skin-light-chat() {
  .chat-border-bottom {
    border-bottom-color: $sidebar-light-apps-menu-border-color;
  }
  .chat-input {
    background-color: $sidebar-light-apps-menu-hover-bg;
  }
  .chat-container {
    background-color: $gray-lighter;
  }
  .chat-button-bottom {
    color: $light-chat-button-color;

    &:hover {
      color: $light-chat-button-hover-color;
    }
  }
  .chat-list-sidebar {
    color: $sidebar-light-apps-menu-color;

    .chat-item-sidebar {
      border-bottom: .5px solid $sidebar-light-apps-menu-bg;

      &:hover, &.active {
        color: $sidebar-light-apps-menu-hover-color;
        background-color: $sidebar-light-apps-menu-hover-bg;
      }
    }
  }
}

@mixin skin-light-tree() {
  .angular-tree-component {
    .node-wrapper,
    .node-content-wrapper {
      &:hover,
      &:focus,
      &:active {
        background-color: $light-tree-node-hover-bg;
      }
    }

    .node-wrapper.tree-selected,
    .node-content-wrapper.node-content-wrapper-active,
    .node-content-wrapper.node-content-wrapper-active:hover {
      background-color: $light-tree-node-selected-bg;
    }
  }
}

@mixin skin-light-app() {
  .dialog-tab-card {
    background: $light-dialog-tab-card-bg;
    border: 1px solid $light-dialog-tab-card-border-color;
    box-shadow: 0 12px 24px $light-dialog-tab-card-shadow-color;
  }
  .dialog-check-card {
    background: $light-dialog-check-card-bg;
    border: 1px solid $light-dialog-check-card-border-color;
  }
  .dialog-check-card--interactive {
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
  }
  .dialog-check-card--interactive:hover {
    background: $light-dialog-check-card-hover-bg;
    border-color: $light-dialog-check-card-hover-border-color;
    box-shadow: 0 6px 14px $light-dialog-check-card-hover-shadow-color;
  }
  .dialog-check-card--active {
    border-color: $light-dialog-check-card-active-border-color;
  }
  .btn {
    &:focus-visible {
      outline: 2px solid $light-btn-focus-color;
      outline-offset: 1px;
      box-shadow: none !important;
    }
  }
  .btn-secondary,
  .btn-default,
  .btn-custom,
  .btn-outline-secondary-alt {
    border-color: $light-surface-border !important;
    color: $light-item-color !important;
    background-color: $light-surface-bg !important;

    &:hover:not(:disabled) {
      border-color: mix($primary, $gray-light, 26%) !important;
      color: $light-item-hover-color !important;
      background-color: $table-bg-hover !important;
    }

    &:disabled {
      border-color: $light-surface-border !important;
      color: $light-item-disabled-color !important;
      background-color: $light-surface-bg !important;
    }
  }
  .btn-custom {
    fa-icon,
    span {
      color: inherit !important;
    }

    &:is(.active, :active, [aria-pressed='true']):not(:disabled) {
      background-color: $primary !important;
      border-color: $primary !important;
      color: $white !important;
    }
  }
  .btn-check:is(:checked, :active) + .btn-custom:not(:disabled) {
    background-color: $primary !important;
    border-color: $primary !important;
    color: $white !important;
  }
  .btn-outline-blue {
    @include button-outline-variant($primary);
  }
  .btn[class*='bg-']:hover {
    @include box-shadow(inset 0 0 100px $theme-btn-bg-hover-overlay-shadow);
  }
  .btn-minimize {
    background: transparent url("#{$theme-btn-minimize-icon-svg}") center/1em auto no-repeat;
  }
  .dropdown-menu {
    border: .5px solid $light-menu-surface-border !important;
    background-color: $light-menu-surface-bg !important;
    box-shadow: $light-menu-surface-shadow;

    > li > a {
      color: $light-item-color;
      background-color: transparent;

      &:hover {
        background-color: $light-menu-item-hover-bg !important;
        color: $light-item-hover-color !important;
      }
    }

    > .divider {
      background-color: $light-menu-surface-border;
    }
  }
  .dropdown-item {
    color: $light-item-color;

    &:hover,
    &.active,
    &:active {
      background-color: $light-menu-item-hover-bg !important;
      color: $light-item-hover-color !important;
    }
  }
  .dropdown-divider {
    border-top-color: $light-menu-surface-border !important;
  }
  .virtual-scroll-border-top {
    border-top: 0.5px solid $gray-light;
  }
  .app-table {
    color: $body-color;
    // Bootstrap 5 fix
    > :not(:first-child) {
      border-top: 1px solid $gray-light;
    }

    thead {
      background-color: $light-table-head-bg;
    }

    tbody tr {
      border-bottom-color: $gray-lighter !important;

      &:hover {
        background-color: $light-table-row-hover-bg !important;
      }

      &.selected {
        background-color: $light-table-row-selected-bg !important;
        box-shadow: inset 2px 0 0 darken($primary, 4%);
      }
    }

    tbody td:not(:first-child) {
      color: $custom-dark-color;
    }
  }
  .app-table-striped {
    > tbody > tr {
      &:nth-of-type(odd) {
        background-color: $gray-lightest;
      }

      &:hover {
        background-color: $light-table-striped-hover-bg;
      }
    }
  }
  .app-top-menu {
    border-top-color: $gray-light;
    border-bottom-color: $gray-light;
    background: linear-gradient(to right, $light-app-top-menu-gradient-start 0%, $light-app-top-menu-gradient-mid 50%, $light-app-top-menu-gradient-end 100%);

    .dropdown-menu {
      background-color: $light-menu-surface-bg !important;
    }
  }
  .app-foot-menu {
    border-top: 0.5px solid $gray-light;
    background: $theme-light-panel-alt-bg;
    color: $custom-color;
  }
  .app-thumbs {
    background-color: $gray-lighter;

    .row {
      .card {
        background-color: $white;
        border-color: $gray-mid;

        &.selected {
          background-color: $table-bg-hover;

          .card-footer {
            background-color: $table-bg-hover;
          }
        }
      }

      .card-footer {
        background-color: $gray-lightest;
        border-top: .5px solid $gray-mid;
      }
    }
  }
  .app-sync-clients {
    .left-panel {
      border-right-color: $gray-light !important;
      border-bottom-color: $gray-light !important;
    }

    .right-panel {
      border-bottom-color: $gray-light !important;
    }
  }
  .app-div-hovered {
    &:hover {
      background-color: $table-bg-hover !important;
    }

    &.selected {
      background-color: $light-row-selected-bg !important;
    }
  }
  .app-div-striped {
    &:nth-of-type(even) {
      background-color: lighten($gray-lighter, 2%);
    }

    &.selected {
      background-color: $light-row-selected-bg !important;
    }
  }
  .app-div-striped-inverse {
    &:nth-of-type(odd) {
      background-color: darken($body-bg, 4%);
    }
  }
  .list-group-item {
    background-color: lighten($gray-light, 10%);
    color: $custom-color;
  }
  .profile-page {
    background-color: $body-bg;

    .box {
      background-color: $gray-lighter;
    }
  }
  .user-groups-page {
    .app-table > tbody {
      background-color: $white;
    }
  }
  .user-details {
    color: $black;

    select {
      background-color: $white !important;
      color: $black;
      filter: none;
    }
  }
  .task-list {
    border-bottom-color: $gray-mid;

    &:hover {
      background-color: $table-bg-hover;
    }
  }
  .app-small-card {
    background-color: $gray-lighter;
  }
  .wizard {
    background-color: lighten($primary, 50%);

    tbody tr {
      &:hover {
        background-color: $table-bg-hover;
      }

      &.selected {
        background-color: $selected-background;
      }
    }

    .wizard-nav-content {
      background-color: $white;
    }
  }
  .sidebar-item {
    .sidebar-item-container {
      &:hover {
        background-color: $table-bg-hover;
      }

      .sidebar-item-content {
        border-bottom-color: $gray-mid;
      }
    }
  }
}

@mixin skin-light-miscellaneous() {
  .content-wrapper {
    background-color: $white;
    color: $body-color;
  }
  //.content-container {
  //  border-left: .5px solid $sidebar-light-apps-menu-border-color;
  //}
  .ngx-contextmenu {
    background-color: $light-menu-surface-bg !important;
    border-color: $light-menu-surface-border !important;
    box-shadow: $light-menu-surface-shadow !important;

    > button.ngx-context-menu-item {
      color: $light-item-color !important;
      background-color: transparent !important;

      &:hover,
      &:focus-visible,
      &.active {
        background-color: $light-menu-item-hover-bg !important;
        color: $light-item-hover-color !important;
      }
    }

    > [role='separator'] {
      border-top-color: $light-menu-surface-border !important;
    }
  }
  .modal-body {
    background-color: $body-bg;
  }
  .modal-footer {
    background-color: $gray-lightest;
  }
  typeahead-container,
  .ui-select-choices {
    &.dropdown-menu {
      background-color: $white !important;
    }
  }
  .form-control,
  .form-select,
  .input-group-text {
    &:disabled {
      color: $muted;
      cursor: not-allowed;
      background-color: $gray-lighter;
    }
  }

  .small-box {
    //background: $gray-lightest;
    border-color: $gray-lighter;
  }
  .nav-link {
    color: $body-color;
    background-color: $light-nav-bg;

    &:hover {
      background: $light-nav-hover-bg;
    }

    &.active {
      color: $white;
      background: $primary;
    }

    &:not(.active).disabled {
      color: $muted;
    }
  }
  .box-default {
    @include box-solid-variant($gray-lighter, $body-color, true);

    > .box-header {
      border-bottom: .5px solid $light-box-border-strong;
    }

    > .box-footer {
      border-top: .5px solid $light-box-border-strong;
    }
  }
  .box-footer-default {
    background-color: $gray-lighter;

    &:hover {
      background-color: darken($gray-lighter, 5%);
    }
  }
  .box-transparent {
    background-color: $gray-lightest;
    border-color: $gray-lighter;
    box-shadow: 0 12px 26px $light-box-transparent-shadow-color;

    > .box-header {
      background: $theme-light-panel-alt-bg;
      border-bottom-color: $gray-lighter;
    }

    .box-body {
      background-color: $white;
    }

    .product-img {
      background-color: $gray-lightest;
      border: 0.5px solid darken($gray-lighter, 4%);
    }
  }
  .bg-theme {
    background-color: $gray-light;
  }
  .bg-theme-alt {
    background-color: $gray-lightest !important;
  }
  .recents-grid .box-transparent > .box-header {
    background: $light-recents-box-header-bg;
    border-bottom-color: mix($primary, $white, 20%);

    > fa-icon {
      color: lighten($navy, 8%);
    }

    .box-title {
      color: lighten($navy, 8%);
    }

    .btn-link {
      color: darken($gray, 24%);

      &:hover, &:focus {
        color: darken($primary, 8%);
      }
    }
  }
  .products-list > li:hover {
    background-color: lighten($table-bg-hover, 2%);
  }
  .product-list-in-box {
    border-bottom-color: $gray-lighter;
  }
  .avatar-img {
    background-color: darken($gray-light, 5%);
  }
  .code-editor {
    background-color: $white !important;
  }
}
