//Light Sidebar Mixins
@mixin skin-light-left-sidebar() {
  // Sidebar background color (Both .wrapper is responsible for sidebar bg color)
  .wrapper, .left-sidebar {
    background-color: $sidebar-light-apps-menu-bg;
  }
  .left-sidebar {
    // Side bar Menu apps
    .sidebar-apps-icons {
      background-color: $sidebar-light-icons-menu-bg;

      .menu > a {
        color: $sidebar-light-icons-menu-color;

        &:not(:first-child) {
          border-bottom: .5px solid $sidebar-light-icons-menu-bg;

          &:hover, &.active {
            color: $sidebar-light-icons-menu-hover-color;
            background: $sidebar-light-icons-menu-hover-bg;
          }
        }
      }

      .menu-mini {
        background-color: $sidebar-light-mini-menu-bg;

        > a {
          color: $sidebar-light-mini-menu-color;

          &:not(:last-child) {
            border-bottom: .5px solid $sidebar-light-mini-menu-bg !important;
          }

          &:hover, &.active {
            background: darken($sidebar-light-mini-menu-bg, 10%) !important;
            color: $sidebar-light-mini-menu-hover-color;

            > fa-icon:first-child {
              color: $primary;
            }
          }
        }

        .chat-item-sidebar {
          background-color: $sidebar-light-mini-menu-bg;
          color: $sidebar-light-mini-menu-color;

          &:not(:last-child) {
            border-bottom: .5px solid $sidebar-light-mini-menu-bg !important;
          }

          &:hover, &.active {
            border-left-color: transparent !important;
            background: darken($sidebar-light-mini-menu-bg, 5%) !important;
            color: $sidebar-light-mini-menu-hover-color;
          }
        }
      }
    }

    .sidebar-apps-menus {
      .menus-content {
        border-right: .5px solid $sidebar-light-apps-menu-border-color;
      }

      .menu {
        border-bottom: .5px solid $sidebar-light-apps-menu-bg;

        > a {
          color: $sidebar-light-apps-menu-color;
        }

        //&.submenu {
        //  background-color: darken($sidebar-light-apps-menu-bg, 3%);
        //}
        &:hover, &.active {
          background: $sidebar-light-apps-menu-hover-bg;

          > a {
            color: $sidebar-light-apps-menu-hover-color;

            > fa-icon:first-child {
              color: $primary;
            }
          }
        }
      }

      .sidebar-apps-footer {
        color: $sidebar-light-apps-menu-color;
      }
    }
  }
}

@mixin skin-light-right-sidebar() {
  .control-sidebar-theme-light {
    background: $gray-lightest;
    border-left: .5px solid $sidebar-light-apps-menu-border-color;

    .sidebar-component-title {
      background-color: $secondary-light;
      color: $black;
      border-bottom: .5px solid $secondary;
    }

    .sidebar-title {
      background-color: $secondary-light;
      color: $black;
      border-bottom: .5px solid $secondary;
    }

    hr {
      border-top: .5px solid $sidebar-light-apps-menu-border-color;
      opacity: 1;
    }
  }
  .control-sidebar-menu {
    .sidebar-apps-icons {
      background-color: $sidebar-light-icons-menu-color;
      border-left: .5px solid $sidebar-light-apps-menu-border-color;

      .menu {
        > a {
          color: $sidebar-light-apps-menu-color;

          &:not(:first-child) {
            border-top: .5px solid $gray-lightest;
          }

          &:hover, &.active {
            color: $black;
            background: $secondary;
          }
        }
      }
    }
  }
}

@mixin skin-light-chat() {
  .chat-border-bottom {
    border-bottom-color: $sidebar-light-apps-menu-border-color;
  }
  .chat-input {
    background-color: $sidebar-light-apps-menu-hover-bg;
  }
  .chat-container {
    background-color: $gray-lighter;
  }
  .chat-button-bottom {
    color: darken(gray, 30%);

    &:hover {
      color: black;
    }
  }
  .chat-list-sidebar {
    color: $sidebar-light-apps-menu-color;

    .chat-item-sidebar {
      border-bottom: .5px solid $sidebar-light-apps-menu-bg;

      &:hover, &.active {
        color: $sidebar-light-apps-menu-hover-color;
        background-color: $sidebar-light-apps-menu-hover-bg;
      }
    }
  }
}

@mixin skin-light-tree() {
  .angular-tree-component {
    .node-wrapper {
      &:hover,
      &:focus,
      &:active {
        background-color: $table-bg-hover;
      }

      &.tree-selected {
        background-color: $selected-background;
      }
    }

    .node-content-wrapper {
      &:hover,
      &:focus,
      &:active {
        background-color: $table-bg-hover;
      }

      &.node-content-wrapper-active {
        background-color: $selected-background;

        &:hover {
          background-color: $selected-background;
        }
      }
    }
  }
}

@mixin skin-light-app() {
  .btn {
    --btn-premium-focus: #{rgba($primary, 0.24)};

    &:focus-visible {
      outline: 2px solid var(--btn-premium-focus, rgba(13, 110, 253, 0.25));
      outline-offset: 1px;
      box-shadow: none !important;
    }
  }
  .btn-secondary,
  .btn-default,
  .btn-custom,
  .btn-outline-secondary-alt {
    --btn-premium-secondary-bg: #{mix($white, $gray-lightest, 94%)};
    --btn-premium-secondary-bg-hover: #{$table-bg-hover};
    --btn-premium-secondary-border: #{mix($primary, $gray-light, 14%)};
    --btn-premium-secondary-border-hover: #{mix($primary, $gray-light, 26%)};
    --btn-premium-secondary-color: #{darken($gray-dark, 18%)};
    --btn-premium-secondary-color-hover: #{darken($gray-dark, 28%)};
    --btn-premium-secondary-disabled-color: #{lighten($gray-dark, 18%)};
    border-color: var(--btn-premium-secondary-border) !important;
    color: var(--btn-premium-secondary-color) !important;
    background-color: var(--btn-premium-secondary-bg) !important;

    &:hover:not(:disabled) {
      border-color: var(--btn-premium-secondary-border-hover) !important;
      color: var(--btn-premium-secondary-color-hover) !important;
      background-color: var(--btn-premium-secondary-bg-hover) !important;
    }

    &:disabled {
      border-color: var(--btn-premium-secondary-border) !important;
      color: var(--btn-premium-secondary-disabled-color) !important;
      background-color: var(--btn-premium-secondary-bg) !important;
    }
  }
  .btn-custom {
    fa-icon,
    span {
      color: inherit !important;
    }

    &:is(.active, :active, [aria-pressed='true']):not(:disabled) {
      background-color: $primary !important;
      border-color: $primary !important;
      color: $white !important;
    }
  }
  .btn-check:is(:checked, :active) + .btn-custom:not(:disabled) {
    background-color: $primary !important;
    border-color: $primary !important;
    color: $white !important;
  }
  .btn-outline-blue {
    @include button-outline-variant($primary);
  }
  .btn[class*='bg-']:hover {
    @include box-shadow(inset 0 0 100px rgba(0, 0, 0, 0.2));
  }
  .btn-minimize {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23000'%3e%3cpath d='M32,224c-17.7,0-32,14.3-32,32s14.3,32,32,32h448c17.7,0,32-14.3,32-32s-14.3-32-32-32H32z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
  .dropdown-menu {
    --menu-surface-bg: #{mix($white, $gray-lightest, 94%)};
    --menu-surface-border: #{mix($primary, $gray-light, 14%)};
    --menu-item-color: #{darken($gray-dark, 18%)};
    --menu-item-hover-bg: #{lighten($selected-background, 3%)};
    --menu-item-hover-color: #{darken($gray-dark, 28%)};
    border: .5px solid var(--menu-surface-border, var(--btn-premium-secondary-border)) !important;
    background-color: var(--menu-surface-bg, var(--btn-premium-secondary-bg)) !important;

    > li > a {
      color: var(--menu-item-color, var(--btn-premium-secondary-color));
      background-color: transparent;

      &:hover {
        background-color: var(--menu-item-hover-bg, var(--btn-premium-secondary-bg-hover)) !important;
        color: var(--menu-item-hover-color, var(--btn-premium-secondary-color-hover)) !important;
      }
    }

    > .divider {
      background-color: #eee;
    }
  }
  .dropdown-item {
    color: var(--menu-item-color, var(--btn-premium-secondary-color));

    &:hover,
    &.active,
    &:active {
      background-color: var(--menu-item-hover-bg, var(--btn-premium-secondary-bg-hover)) !important;
      color: var(--menu-item-hover-color, var(--btn-premium-secondary-color-hover)) !important;
    }
  }
  .dropdown-divider {
    border-top-color: var(--menu-surface-border, var(--btn-premium-secondary-border)) !important;
  }
  .app-table {
    color: $body-color;
    // Bootstrap 5 fix
    > :not(:first-child) {
      border-top: 1px solid $gray-light;
    }

    thead {
      background: linear-gradient(170deg, mix($white, $primary, 88%) 0%, mix($white, $gray-lightest, 92%) 100%);;

      tr {
        th {
          border-right-color: $gray-light;
          border-bottom-color: $gray-light;
        }
      }
    }

    tbody tr {
      border-bottom-color: $gray-lighter !important;

      &:hover {
        background-color: $table-bg-hover !important;
      }

      &.selected {
        background-color: $selected-background !important;
      }
    }

    tbody td:not(:first-child) {
      color: lighten($gray-dark, 5%);
    }
  }
  .app-table-striped {
    > tbody > tr {
      &:nth-of-type(odd) {
        background-color: $gray-lightest;
      }

      &:hover {
        background-color: $table-bg-hover;
      }
    }
  }
  .app-top-menu {
    border-top-color: $gray-light;
    border-bottom-color: $gray-light;
    background: linear-gradient(170deg, mix($white, $primary, 88%) 0%, mix($white, $gray-lightest, 92%) 100%);

    .dropdown-menu {
      --menu-surface-bg: #EBF0F5;
    }
  }
  .app-foot-menu {
    background: #eaf1f8;
    color: $dropdown-link-color;
  }
  .app-thumbs {
    background-color: $gray-lighter;

    .row {
      .card {
        background-color: $white;
        border-color: $gray-mid;

        &.selected {
          background-color: $table-bg-hover;

          .card-footer {
            background-color: $table-bg-hover;
          }
        }
      }

      .card-footer {
        background-color: $gray-lightest;
        border-top: .5px solid $gray-mid;
      }
    }
  }
  .app-sync-clients {
    .left-panel {
      border-right-color: $gray-light !important;
      border-bottom-color: $gray-light !important;
    }

    .right-panel {
      border-bottom-color: $gray-light !important;
    }
  }
  .app-div-hovered {
    &:hover {
      background-color: $table-bg-hover !important;
    }

    &.selected {
      background-color: darken($table-bg-hover, 4%) !important;
    }
  }
  .app-div-striped {
    &:nth-of-type(even) {
      background-color: lighten($gray-lighter, 2%);
    }

    &.selected {
      background-color: darken($table-bg-hover, 4%) !important;
    }
  }
  .app-div-striped-inverse {
    &:nth-of-type(odd) {
      background-color: darken($body-bg, 4%);
    }
  }
  .list-group-item {
    background-color: lighten($gray-light, 10%);
    color: $custom-color;
  }
  .profile-page {
    .box {
      background-color: $gray-lighter;
    }
  }
  .user-groups-page {
    .app-table > tbody {
      background-color: $white;
    }
  }
  .user-details {
    color: $black;

    select {
      background-color: $white !important;
      color: black;
      filter: none;
    }
  }
  .task-list {
    border-bottom-color: $gray-mid;

    &:hover {
      background-color: $table-bg-hover;
    }
  }
  .app-small-card {
    background-color: $gray-light;
  }
  .wizard {
    background-color: lighten($primary, 50%);

    tbody tr {
      &:hover {
        background-color: $table-bg-hover;
      }

      &.selected {
        background-color: $selected-background;
      }
    }

    .wizard-nav-content {
      background-color: $gray-lightest;
    }
  }
  .sidebar-item {
    .sidebar-item-container {
      &:hover {
        background-color: $table-bg-hover;
      }

      .sidebar-item-content {
        border-bottom-color: $gray-mid;
      }
    }
  }
}

@mixin skin-light-miscellaneous() {
  .content-wrapper {
    background-color: white;
    color: $body-color;
  }
  //.content-container {
  //  border-left: .5px solid $sidebar-light-apps-menu-border-color;
  //}
  .ngx-contextmenu {
    background-color: #EBF0F5 !important;
    border-color: mix($primary, $gray-light, 14%) !important;

    > button.ngx-context-menu-item {
      color: darken($gray-dark, 18%) !important;
      background-color: transparent !important;

      &:hover,
      &:focus-visible,
      &.active {
        background-color: lighten($selected-background, 3%) !important;
        color: darken($gray-dark, 28%) !important;
      }
    }

    > [role='separator'] {
      border-top-color: mix($primary, $gray-light, 14%) !important;
    }
  }
  .modal-body {
    background-color: $body-bg;
  }
  .modal-footer {
    background-color: $gray-lightest;
  }
  typeahead-container, .ui-select-choices {
    &.dropdown-menu {
      background-color: $white !important;
    }
  }
  .small-box {
    //background: $gray-lightest;
    border-color: $gray-lighter;
  }
  .nav-link {
    color: $body-color;
    background-color: lighten($gray-mid, 4%);

    &:hover {
      background: darken($gray-mid, 2%);
    }

    &.active {
      color: $white;
      background: $primary;
    }

    &:not(.active).disabled {
      color: $muted;
    }
  }
  .box-default {
    @include box-solid-variant($gray-lighter, $body-color, true);

    > .box-header {
      border-bottom: .5px solid darken($gray-lighter, 5%);
    }

    > .box-footer {
      border-top: .5px solid darken($gray-lighter, 5%);
    }
  }
  .box-footer-default {
    background-color: $gray-lighter;

    &:hover {
      background-color: darken($gray-lighter, 5%);
    }
  }
  .box-transparent {
    background-color: $gray-lightest;
    border-color: $gray-lighter;
    box-shadow: 0 12px 26px rgba(24, 32, 58, 0.1);

    > .box-header {
      background: #eaf1f8;
      border-bottom-color: $gray-lighter;
    }

    .box-body {
      background-color: $white;
    }

    .product-img {
      background-color: $gray-lightest;
      border: 0.5px solid darken($gray-lighter, 4%);
    }
  }
  .bg-theme {
    background-color: $gray-light;
  }
  .bg-theme-alt {
    background-color: $gray-lightest !important;
  }
  .recents-grid::before {
    background: linear-gradient(
                    180deg,
                    rgba($gray-light, 0.9) 0%,
                    rgba($gray-lightest, 0.7) 100%
    );
  }
  .recents-grid .box-transparent > .box-header {
    background: linear-gradient(
                    180deg,
                    mix($primary, $white, 12%) 0%,
                    mix($primary, $white, 6%) 100%
    );
    border-bottom-color: mix($primary, $white, 20%);

    > fa-icon {
      color: darken($primary, 15%);
    }

    .box-title {
      color: darken($primary, 18%);
    }

    .btn-link {
      color: darken($primary, 12%);
    }

    .btn-link:hover,
    .btn-link:focus {
      color: darken($primary, 24%);
    }
  }
  .products-list > li:hover {
    background-color: lighten($table-bg-hover, 2%);
  }
  .product-list-in-box {
    border-bottom-color: $gray-lighter;
  }
  .avatar-img {
    background-color: darken($gray-light, 5%);
  }
  .code-editor {
    background-color: $white !important;
  }
}
