//Dark Sidebar Mixin
@mixin skin-dark-left-sidebar() {
  // Sidebar background color (Both .wrapper is responsible for sidebar bg color)
  .wrapper, .left-sidebar {
    background-color: $sidebar-dark-apps-menu-bg;
  }
  .left-sidebar {
    // Side bar Menu apps
    .sidebar-apps-icons {
      background-color: $sidebar-dark-icons-menu-bg;

      .menu > a {
        color: $sidebar-dark-icons-menu-color;

        &:not(:first-child) {
          border-bottom: .5px solid $sidebar-dark-icons-menu-bg;

          &:hover, &.active {
            color: $sidebar-dark-icons-menu-hover-color;
            background: $sidebar-dark-icons-menu-hover-bg;
            border-right: .5px solid $sidebar-dark-icons-menu-bg;
          }
        }
      }

      .menu-mini {
        background-color: $sidebar-dark-mini-menu-bg;

        > a {
          color: $sidebar-dark-mini-menu-color;
          border-bottom: .5px solid $sidebar-dark-mini-menu-bg !important;

          &:hover, &.active {
            background: darken($sidebar-dark-mini-menu-bg, 5%) !important;
            color: $sidebar-dark-mini-menu-hover-color;

            > fa-icon:first-child {
              color: $primary;
            }
          }
        }
      }

      .chat-item-sidebar {
        color: $sidebar-dark-apps-menu-border-color;
        border-bottom: .5px solid $sidebar-dark-mini-menu-bg;

        &:hover, &.active {
          background-color: darken($sidebar-dark-mini-menu-bg, 5%);
        }
      }
    }

    .sidebar-apps-menus {
      .menus-content {
        border-right: .5px solid $sidebar-dark-icons-menu-border-color;
      }

      .menu {
        border-bottom: .5px solid $sidebar-dark-apps-menu-bg;

        > a {
          color: $sidebar-dark-apps-menu-border-color;
        }

        //&.submenu {
        //  background-color: darken($sidebar-dark-apps-menu-bg, 3%);
        //}

        &:hover, &.active {
          > a {
            background: $sidebar-dark-apps-menu-hover-bg;
            color: $sidebar-dark-apps-menu-hover-color;

            > fa-icon:first-child {
              color: $primary;
            }
          }
        }
      }

      .sidebar-apps-footer {
        color: $secondary;
      }
    }
  }
}

@mixin skin-dark-right-sidebar() {
  .control-sidebar-theme-dark {
    background: $sidebar-dark-apps-menu-bg;
    border-left: .5px solid $sidebar-dark-icons-menu-border-color;

    .sidebar-component-title {
      color: $sidebar-dark-apps-menu-color;
      background: $sidebar-dark-apps-menu-title-bg;
      border-bottom: .5px solid $sidebar-dark-icons-menu-border-color;
    }

    .sidebar-component-content {
      color: $gray-light;
    }

    .sidebar-title {
      color: $sidebar-dark-apps-menu-color;
      background: $sidebar-dark-apps-menu-title-bg;
      border-bottom: .5px solid $sidebar-dark-icons-menu-border-color;
    }

    hr {
      border-top-color: $sidebar-dark-icons-menu-hover-bg;
      opacity: 1;
    }
  }
  .control-sidebar-menu {
    .sidebar-apps-icons {
      background-color: $sidebar-dark-icons-menu-bg;
      border-left: .5px solid $sidebar-dark-icons-menu-border-color;

      .menu {
        > a {
          color: $sidebar-dark-icons-menu-color;

          &:hover, &.active {
            color: $gray-lightest;
            background: $sidebar-dark-icons-menu-hover-bg;
          }
        }
      }
    }
  }
}

@mixin skin-dark-chat() {
  .chat-border-bottom {
    border-bottom-color: $sidebar-dark-apps-menu-bg;
  }
  .chat-input {
    background-color: $sidebar-dark-icons-menu-bg;
  }
  .chat-container {
    background-color: lighten($sidebar-dark-apps-menu-title-bg, 4%);
  }
  .chat-button-bottom {
    color: $gray-light;

    &:hover {
      color: lighten($gray-light, 30%);
    }
  }
  .chat-list-sidebar {
    color: $sidebar-dark-apps-menu-border-color;

    .chat-item-sidebar {
      border-bottom: .5px solid $sidebar-dark-apps-menu-bg;

      &:hover, &.active {
        color: $sidebar-dark-apps-menu-hover-color;
        background-color: $sidebar-dark-apps-menu-hover-bg;
      }
    }
  }
}

@mixin skin-dark-tree() {
  .angular-tree-component {
    .node-wrapper {
      &:hover,
      &:focus,
      &:active {
        background-color: $sidebar-dark-apps-menu-title-bg;
      }

      &.tree-selected {
        background-color: darken($sidebar-dark-apps-menu-title-bg, 4%);
      }
    }

    .node-content-wrapper {
      &:hover,
      &:focus,
      &:active {
        background-color: $sidebar-dark-apps-menu-title-bg;
      }

      &.node-content-wrapper-active {
        background-color: darken($sidebar-dark-apps-menu-title-bg, 4%);

        &:hover {
          background-color: darken($sidebar-dark-apps-menu-title-bg, 4%);
        }
      }
    }
  }
}

@mixin skin-dark-app() {
  .newly {
    color: $custom-color !important;
    border-bottom: none;
  }
  .btn {
    --btn-premium-focus: #{rgba($primary, 0.28)};

    &:focus-visible {
      outline: 2px solid var(--btn-premium-focus, rgba(13, 110, 253, 0.25));
      outline-offset: 1px;
      box-shadow: none !important;
    }
  }
  .btn-secondary,
  .btn-default,
  .btn-custom,
  .btn-outline-secondary-alt {
    --btn-premium-secondary-bg: #{lighten($sidebar-dark-icons-menu-bg, 5%)};
    --btn-premium-secondary-bg-hover: #{$sidebar-dark-icons-menu-bg};
    --btn-premium-secondary-border: #{lighten($sidebar-dark-icons-menu-border-color, 10%)};
    --btn-premium-secondary-border-hover: #{mix($primary, $sidebar-dark-icons-menu-border-color, 34%)};
    --btn-premium-secondary-color: #{lighten($gray-light, 8%)};
    --btn-premium-secondary-color-hover: #{lighten($gray-light, 14%)};
    --btn-premium-secondary-disabled-color: #{darken($gray-light, 12%)};
    border-color: var(--btn-premium-secondary-border) !important;
    color: var(--btn-premium-secondary-color) !important;
    background-color: var(--btn-premium-secondary-bg) !important;

    &:hover:not(:disabled) {
      border-color: var(--btn-premium-secondary-border-hover) !important;
      color: var(--btn-premium-secondary-color-hover) !important;
      background-color: var(--btn-premium-secondary-bg-hover) !important;
    }

    &:disabled {
      border-color: var(--btn-premium-secondary-border) !important;
      color: var(--btn-premium-secondary-disabled-color) !important;
      background-color: var(--btn-premium-secondary-bg) !important;
    }
  }
  .btn-custom {
    fa-icon,
    span {
      color: inherit !important;
    }

    &:is(.active, :active, [aria-pressed='true']):not(:disabled) {
      background-color: $primary !important;
      border-color: $primary !important;
      color: $white !important;
    }
  }
  .btn-check:is(:checked, :active) + .btn-custom:not(:disabled) {
    background-color: $primary !important;
    border-color: $primary !important;
    color: $white !important;
  }
  .btn-outline-blue {
    @include button-outline-variant($primary);
  }
  .btn[class*='bg-']:hover {
    @include box-shadow(inset 0 0 100px rgba(0, 0, 0, 0.2));
  }
  .btn-minimize {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23000'%3e%3cpath d='M32,224c-17.7,0-32,14.3-32,32s14.3,32,32,32h448c17.7,0,32-14.3,32-32s-14.3-32-32-32H32z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
  .dropdown-menu {
    --menu-surface-bg: #{lighten($sidebar-dark-icons-menu-bg, 5%)};
    --menu-surface-border: #{lighten($sidebar-dark-icons-menu-border-color, 10%)};
    --menu-item-color: #{lighten($gray-light, 8%)};
    --menu-item-hover-bg: #{$sidebar-dark-icons-menu-bg};
    --menu-item-hover-color: #{lighten($gray-light, 14%)};
    border: .5px solid var(--menu-surface-border, var(--btn-premium-secondary-border)) !important;
    background-color: var(--menu-surface-bg, var(--btn-premium-secondary-bg)) !important;

    > li > a {
      color: var(--menu-item-color, var(--btn-premium-secondary-color));
      background-color: transparent;

      &:hover {
        background-color: var(--menu-item-hover-bg, var(--btn-premium-secondary-bg-hover)) !important;
        color: var(--menu-item-hover-color, var(--btn-premium-secondary-color-hover)) !important;
      }
    }

    > .divider {
      background-color: #eee;
    }
  }
  .dropdown-item {
    color: var(--menu-item-color, var(--btn-premium-secondary-color));

    &:hover,
    &.active,
    &:active {
      background-color: var(--menu-item-hover-bg, var(--btn-premium-secondary-bg-hover)) !important;
      color: var(--menu-item-hover-color, var(--btn-premium-secondary-color-hover)) !important;
    }
  }
  .dropdown-divider {
    border-top-color: var(--menu-surface-border, var(--btn-premium-secondary-border)) !important;
  }

  .virtual-scroll-border-top {
    border-top: 0.5px solid darken($sidebar-dark-icons-menu-border-color, 3%) !important;
  }

  .app-table {
    color: $gray-light;
    // Bootstrap 5 fix
    > :not(:first-child) {
      border-top: 1px solid $sidebar-dark-icons-menu-border-color;
    }

    tbody tr {
      border-bottom-color: darken($sidebar-dark-icons-menu-border-color, 3%) !important;

      &:hover {
        background-color: $sidebar-dark-icons-menu-bg !important;
      }

      &.selected {
        background-color: $sidebar-dark-apps-menu-title-bg !important;
      }
    }

    tbody td:not(:first-child) {
      color: darken($gray-light, 5%);
    }
  }
  .app-table-striped {
    > tbody > tr {
      &:nth-of-type(odd) {
        background-color: $sidebar-dark-icons-menu-border-color;
      }

      &:hover {
        background-color: $sidebar-dark-apps-menu-title-bg;
      }
    }
  }
  .app-top-menu {
    border-top-color: $sidebar-dark-icons-menu-border-color;
    border-bottom-color: $sidebar-dark-icons-menu-border-color;
    background: linear-gradient(170deg, lighten($sidebar-dark-apps-menu-title-bg, 7%) 0%, darken($sidebar-dark-icons-menu-bg, 1%) 100%);

    .dropdown-menu {
      --menu-item-color: #{$gray-light};
    }
  }
  .app-foot-menu {
    border-top: 0.5px solid darken($sidebar-dark-icons-menu-border-color, 3%) !important;
    background-color: $sidebar-dark-icons-menu-bg;
    color: darken($gray-light, 5%);
  }
  .app-div-hovered {
    &:hover {
      background-color: darken($sidebar-dark-apps-menu-bg, 4%) !important;
    }

    &.selected {
      background-color: $sidebar-dark-apps-menu-title-bg !important;
    }
  }
  .app-div-striped {
    &.selected {
      background-color: $sidebar-dark-apps-menu-title-bg !important;
    }

    &:nth-of-type(even) {
      background-color: lighten($sidebar-dark-apps-menu-title-bg, 4%);
    }
  }
  .app-div-striped-inverse {
    &:nth-of-type(odd) {
      background-color: lighten($sidebar-dark-apps-menu-title-bg, 4%);
    }
  }
  .app-thumbs {
    background-color: inherit !important;

    .row {
      .card {
        background-color: $sidebar-dark-icons-menu-bg;
        border-color: $sidebar-dark-icons-menu-border-color;

        &.selected {
          background-color: $sidebar-dark-apps-menu-title-bg;

          .card-footer {
            background-color: $sidebar-dark-apps-menu-title-bg;
          }
        }
      }

      .card-footer {
        color: $gray-light;
        background-color: $sidebar-dark-icons-menu-bg;
        border-top: .5px solid $sidebar-dark-icons-menu-border-color;
      }
    }
  }
  .app-sync-clients {
    .left-panel {
      border-right-color: darken($sidebar-dark-icons-menu-border-color, 4%) !important;
      border-bottom-color: darken($sidebar-dark-icons-menu-border-color, 4%) !important;
    }

    .right-panel {
      border-bottom-color: darken($sidebar-dark-icons-menu-border-color, 4%) !important;
    }
  }
  .list-group-item {
    background-color: lighten($sidebar-dark-apps-menu-title-bg, 8%);
    color: $white;
  }
  .profile-page {
    select {
      background-color: transparent;
      color: $white;
      filter: brightness(0) invert(1);
    }
  }
  .task-list {
    border-bottom-color: $sidebar-dark-icons-menu-border-color;

    &:hover {
      background-color: $sidebar-dark-apps-menu-title-bg;
    }
  }
  .app-small-card {
    background-color: lighten($sidebar-dark-apps-menu-title-bg, 2%);
  }
  .wizard {
    tbody tr {
      &:hover {
        background-color: lighten($sidebar-dark-apps-menu-title-bg, 1%) !important;
      }

      &.selected {
        background-color: darken($sidebar-dark-apps-menu-title-bg, 5%);
      }
    }

    .wizard-nav-content {
      background-color: $sidebar-dark-icons-menu-bg;
    }
  }
  .sidebar-item {
    .sidebar-item-container {
      &:hover {
        background-color: $sidebar-dark-apps-menu-title-bg;
      }

      .sidebar-item-content {
        border-bottom-color: $sidebar-dark-icons-menu-border-color;
      }
    }
  }
}

@mixin skin-dark-miscellaneous() {
  .content-wrapper {
    background-color: lighten($sidebar-dark-apps-menu-bg, 4%);
    color: $gray-light;
  }
  //.content-container {
  //  border-left: .5px solid $sidebar-dark-icons-menu-border-color;
  //}
  .ngx-contextmenu {
    background-color: lighten($sidebar-dark-icons-menu-bg, 5%);
    border-color: lighten($sidebar-dark-icons-menu-border-color, 10%);

    > button.ngx-context-menu-item {
      color: $gray-light !important;
      background-color: transparent !important;

      &:hover,
      &:focus-visible,
      &.active {
        background-color: $sidebar-dark-icons-menu-hover-bg !important;
      }
    }

    > [role='separator'] {
      border-top-color: lighten($sidebar-dark-icons-menu-border-color, 10%) !important;
    }
  }
  .modal-content {
    background: transparent !important;
  }
  .modal-header {
    border-bottom-color: lighten($sidebar-dark-apps-menu-title-bg, 4%);
  }
  .modal-body {
    color: $gray-light;
    background-color: lighten($sidebar-dark-apps-menu-title-bg, 4%);

    .app-top-menu {
      background: transparent;
    }
  }
  .modal-footer {
    color: $gray-light;
    background-color: $sidebar-dark-apps-menu-title-bg;
    border-top-color: $sidebar-dark-apps-menu-title-bg;
  }
  .modal-auth-verify-2fa, .modal-viewer-select {
    .card {
      color: $gray-light;
      background-color: $sidebar-dark-icons-menu-bg;
      border-color: $sidebar-dark-icons-menu-border-color;
    }
  }
  typeahead-container, .ui-select-choices {
    &.dropdown-menu {
      background-color: $sidebar-dark-icons-menu-border-color;
      border-color: $sidebar-dark-apps-menu-title-bg;

      > li > a {
        color: $gray-light;

        &:hover {
          background-color: darken($sidebar-dark-apps-menu-bg, 4%);
        }
      }
    }

    .dropdown-item {
      color: $gray-light !important;

      &:hover, &.active {
        background-color: darken($sidebar-dark-apps-menu-bg, 4%);
      }
    }
  }
  .nav-link {
    color: $gray-light;
    background: lighten($sidebar-dark-icons-menu-bg, 4%);

    &:hover {
      color: $white;
      background: lighten($sidebar-dark-icons-menu-bg, 8%);
    }

    &.active {
      color: $white;
      background: $primary;
    }

    &:not(.active).disabled {
      color: $muted;
    }
  }
  .form-control-plaintext {
    color: $white;
  }
  .form-control, .form-select, .input-group-text {
    background-color: $sidebar-dark-apps-menu-title-bg;
    color: $white;
    border-color: lighten($sidebar-dark-icons-menu-bg, 4%);

    &:focus {
      border-color: $primary;
    }

    &:disabled {
      color: $muted;
      cursor: not-allowed;
      background-color: lighten($sidebar-dark-apps-menu-title-bg, 8%);
    }
  }
  .small-box {
    color: $gray-light;
    border-color: lighten($sidebar-dark-icons-menu-bg, 4%);
    background-color: $sidebar-dark-icons-menu-bg;
  }
  .box:not(.box-background-transparent) {
    background-color: $sidebar-dark-icons-menu-bg;
  }
  .box-default {
    @include box-solid-variant($sidebar-dark-apps-menu-title-bg, $gray-light, true);

    > .box-header {
      border-bottom: .5px solid $sidebar-dark-apps-menu-title-bg;
    }

    > .box-footer {
      border-top: .5px solid $sidebar-dark-apps-menu-title-bg;
    }
  }
  .box-footer-default {
    background-color: $sidebar-dark-apps-menu-title-bg;

    &:hover {
      background-color: darken($sidebar-dark-apps-menu-title-bg, 5%);
    }
  }
  .box-transparent {
    background-color: darken($sidebar-dark-icons-menu-bg, 2%);
    border-color: $sidebar-dark-icons-menu-border-color;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.35);

    > .box-header {
      background: linear-gradient(
                      180deg,
                      darken($sidebar-dark-icons-menu-bg, 2%) 0%,
                      darken($sidebar-dark-icons-menu-bg, 6%) 100%
      );
      border-bottom-color: $sidebar-dark-icons-menu-border-color;
    }

    .product-img {
      background-color: darken($sidebar-dark-icons-menu-bg, 6%);
      border: 1px solid $sidebar-dark-icons-menu-border-color;
    }
  }
  .products-list > li:hover {
    background-color: lighten($sidebar-dark-apps-menu-title-bg, 8%);
  }
  .product-list-in-box {
    border-bottom-color: $sidebar-dark-icons-menu-border-color;
  }
  .ui-disabled {
    background-color: $sidebar-dark-icons-menu-bg !important;
    color: $body-color;
  }
  .ui-select-toggle {
    ::after {
      color: $gray-light;
    }
  }
  .text-purple {
    color: #b366ff !important;
  }
  .text-primary {
    color: #2283dd !important;
  }
  .bg-theme {
    background-color: darken($sidebar-dark-icons-menu-bg, 4%);
  }
  .bg-theme-alt {
    background-color: $sidebar-dark-apps-menu-title-bg !important;
  }
  .btn-close {
    filter: var(--bs-btn-close-white-filter)
  }
  .btn-outline-secondary-alt {
    border-color: lighten($sidebar-dark-icons-menu-bg, 4%)
  }
  .text-muted {
    color: #8a8f94 !important;
  }
  .text-bg-light {
    color: $gray-light !important;
    background-color: lighten($sidebar-dark-apps-menu-title-bg, 8%) !important;
  }
  .avatar-img {
    background-color: darken($gray-light, 5%);
  }
  // Code Mirror
  .cm-panel.cm-search {
    button[aria-label="close"] {
      right: 10px !important;
      font-size: 18px !important;
      color: $gray-light !important;
    }
  }
}
